*{
    overscroll-behavior: none;
}

.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-bottom: 10%;
}

.arrow {
    width: 20px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.arrow:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.fiche_projet {
    display: flex;
    justify-content: space-around;
    width: 87%;
    flex-direction: column;
    gap: 50px;
}

.div-description {
    color: #FF6060;
}

.div-description h1 {
    font-size: 36px;
}

.div-description h2 {
    font-size: 18px;
}

.div-tags {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    margin-top: 3%;
    justify-content: center;
}

.tags {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding-bottom: 2px;
    margin: 10px 20px 0 0;
    height: 25px;
    font-size: 14px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
}

.div_projet {
    display: flex;
    width: 100%;
    gap: 7%;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
}

.collapseLogement .collapse__header {
    width: 100%;
    max-width: 600px;
}

.description-content {
    padding-left: 10px;
}

.logement .collapse {
    max-width: 600px;
}

.collapseLogement .visible.collapse {
    width: 100%;
}

.projet_title {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline 2px solid #FF6060;
}

.projet_text {
    font-size: 16px;
}

.div_link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

.projet_link {
    padding-top: 7px;
    padding-inline: 20px;
    padding-bottom: 2px;
    margin: 10px 20px 0 0;
    height: 25px;
    font-size: 14px;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
}
.projet_link:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .tags {
        font-size: 12px;
    }
    .projet_text {
        font-size: 16px;
    }
    .projet_title {
        font-size: 14px;
    }

}

@media screen and (max-width: 375px) {
    .tags {
        font-size: 12px;
    }
    .projet_text {
        font-size: 12px;
    }
    .projet_title {
        font-size: 14px;
    }
}